<!DOCTYPE html>
<html>
    <head>
        <title>CS 602 Term Project</title>
        <link rel="styleshet" href="/stylesheets/bootstrap.css" />
    </head>
    <body>
        <header>
            <img src="/images/bu-logo.gif" alt="logo">
            <center>
            <h3>CS 602 Term Project - Hannah Fitzsimmons</h3>
            <h4>View: {{title}}</h4>
            </center>
        </header>
        <div class="panel-body">
            {{{body}}}
        </div>
    </body>
</html>